{% extends 'base.html' %}

{% block title %}Home - My Portfolio{% endblock %}

{% block content %}
<div class="hero">
    <h1>Hi, I'm Rafeeq, Working as DevOps Engineer</h1>
    <p>I specialize in Automation using Terraform and other DevOps tools, code that solve real-world problems. With a passion for clean code and innovative solutions, I bring ideas to life through technology.</p>
    <div class="skills">
        <span class="skill-tag">Python</span>
        <span class="skill-tag">Linux</span>
        <span class="skill-tag">Flask</span>
        <span class="skill-tag">Flutter</span>
        <span class="skill-tag">SQL</span>
        <span class="skill-tag">Terraform</span>
        <span class="skill-tag">Docker</span>
        <span class="skill-tag">AWS</span>
    </div>
</div>
{% endblock %}
