{% extends 'base.html' %}

{% block title %}Home - My Portfolio{% endblock %}

{% block content %}
<div class="hero">
    <h1>Hi, I'm Rafeeq — a DevOps Engineer</h1>
    <p>I'm a DevOps enthusiast who builds smart automation using Terraform and other powerful tools ⚙️. I love turning complex challenges into simple, scalable solutions — always with clean, reliable code at the core 💻. Whether it’s infrastructure, deployment, or scripting, I enjoy crafting systems that just work 🚀.I’m especially passionate about designing robust CI/CD pipelines that ensure smooth, fast, and secure software delivery 🔁.</p>
    <p>Here are the key technologies I work with:</p>
    <div class="skills">
        <span class="skill-tag">Python</span>
        <span class="skill-tag">Linux</span>
        <span class="skill-tag">Flask</span>
        <span class="skill-tag">Flutter</span>
        <span class="skill-tag">SQL</span>
        <span class="skill-tag">Terraform</span>
        <span class="skill-tag">Docker</span>
        <span class="skill-tag">AWS</span>
    </div>
</div>
{% endblock %}
