{% extends 'base.html' %}

{% block title %}Projects - My Portfolio{% endblock %}

{% block content %}
<center><h1>My Projects</h1></center>
<div class="projects">
    <div class="project">
        <a href="{{ url_for('talkdoc') }}">
            <img src="{{ url_for('static', filename='images/talkdoc.png') }}" alt="TalkDoc" class="project-image">
            <h2>TalkDoc</h2>
            <p>TalkDoc is a medical chatbot. Medical chatbots are AI-powered assistants designed to help users manage healthcare needs.</p>
        </a>
    </div>
    <div class="project">
        <a href="{{ url_for('encryptor') }}">
            <img src="{{ url_for('static', filename='images/enc-dec.webp') }}" alt="Encryptor/Decryptor" class="project-image">
            <h2>Encryptor/Decryptor</h2>
            <p>These tools are vital for secure communication, data storage, and information security.</p>
        </a>
    </div>
    <div class="project">
        <a href="{{ url_for('malware') }}">
            <img src="{{ url_for('static', filename='images/malware.jpeg') }}" alt="Malware Detector" class="project-image">
            <h2>Malware Detector</h2>
            <p>Used by cybersecurity pros to understand and analyze malicious software.</p>
        </a>
    </div>
</div>
{% endblock %}
