{% extends 'base.html' %}

{% block title %}Projects - My Portfolio{% endblock %}

{% block content %}
<h1>Featured Projects</h1>
<div class="projects">
    <div class="project">
        <img src="{{ url_for('static', filename='images/talkdoc.png') }}" alt="My Project" class="project-image">
        <h2>TalkDoc</h2>
        <p>TalkDoc is a medical chatbot. Medical chatbots are artificial intelligence-powered virtual assistants that are designed to assist users in managing their healthcare needs.</p>
    </div>
    <div class="project">
        <img src="{{ url_for('static', filename='images/enc-dec.webp') }}" alt="My Project" class="project-image">
        <h2>Encryptor/Decryptor</h2>
        <p>Both encrypters and decrypters play vital roles in various aspects of modern technology, including secure communication, data storage, and information security.</p>
    </div>
    <div class="project">
        <img src="{{ url_for('static', filename='images/malware.jpeg') }}" alt="My Project" class="project-image">
        <h2>Malware Detector</h2>
        <p>Malware analysis tools are essential software applications and systems used by cybersecurity professionals, researchers, and organizations to dissect and understand malicious software, or malware. </p>
    </div>
</div>
{% endblock %}